body{
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    background-color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 50px;
    margin-left: 70px;
    margin-bottom: 50px;
}

div{
    background-color: chartreuse;
    padding: 50px;
    padding-left: 100px;
}